{% extends "header.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-11">
			<h1>New Cake</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<form action="#" method = "post">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name">
        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Tell us what it tastes like"></textarea>
        <label for="course">Course:</label>
        <div class="radio">
          <label>
            <input type="radio" name="course" id="course1" value="chocolate">Chocolate
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="course" id="course2" value="citric">Citric
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="course" id="course3" value="redvelvet">Red Velvet
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="course" id="course4" value="carrot">Carrot
          </label>
        </div>
        <button type="submit" class="btn" id="submit" type="submit">
        Create</button>
      </div>
			</form>
		</div>
{% endblock %}
